<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">T&P Portal YCCE, Nagpur</h4>
    </div>
</div>
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" ng-controller="profileCtrl as profileCtrl">
                <h4 class="card-title">T&P Portal YCCE, Nagpur Student Registration</h4>
                <h6 class="card-subtitle">Register yourself for the placement session</h6>
                <form class="form-material m-t-40" ng-submit="profileCtrl.registerUser(profileCtrl.userData)">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control form-control-line" placeholder="Enter your name" ng-model="profileCtrl.userData.student_name" required>
                    </div>
                    <div class="form-group">
                        <label>College ID</label>
                        <input type="text" class="form-control form-control-line" placeholder="Enter your college ID" ng-model="profileCtrl.userData.college_id" required>
                    </div>
                    <div class="form-group">
                        <label>Degree</label>
                        <input type="text" class="form-control form-control-line" placeholder="Enter your degree" ng-model="profileCtrl.userData.degree" required>
                    </div>
                    <div class="form-group">
                        <label>Branch</label>
                        <select class="form-control" ng-model="profileCtrl.userData.department" required>
                            <option value="Computer Science">Computer Technology</option>
                            <option value="Mechanical">Mechanical</option>
                            <option value="Electrical">Electrical</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Civil">Civil</option>
                        </select>
                    </div>
                    <!-- <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" ng-model="register.regData.year" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label>CGPA</label>
                        <input type="number" class="form-control form-control-line" placeholder="Enter your CGPA" ng-model="profileCtrl.userData.cgpa" required>
                    </div>
                    <div class="form-group">
                        <label>Contact No.</label>
                        <input type="text" class="form-control form-control-line" placeholder="Enter your contact no." ng-model="profileCtrl.userData.contact_no" required>
                    </div>
                    <div class="form-group">
                        <label>College Email</label>
                        <input type="email" class="form-control form-control-line" placeholder="Enter your college email" ng-model="profileCtrl.userData.college_email" required>
                    </div>
                    <div class="form-group">
                        <label>Active Backlogs</label>
                        <input type="number" class="form-control form-control-line" placeholder="Enter your active backlogs" ng-model="profileCtrl.userData.active_backlogs" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control form-control-line" placeholder="Enter your password" ng-model="profileCtrl.userData.password" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-rounded">Register</button>
                    <div class="alert alert-success alert-rounded" ng-show="profileCtrl.successMsg">
                        <i class="icon-check"></i>
                        <strong> Yay!</strong> {{ profileCtrl.registerUserSuccessMsg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-danger alert-rounded" ng-show="profileCtrl.errorMsg">
                        <i class="icon-close"></i>
                        <strong>Oops! </strong> {{ profileCtrl.registerUserErrorMsg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>